@font-face
{
    font-family: "Minion Pro Semibold";
    src: url(../fonts/minionProSemibold.ttf);
}

@font-face
{
    font-family: "Minion Pro Capt";
    src: url(../fonts/MinionProCapt.otf);
}

img
{
    border: none;
}

body
{
    margin: 0;
    background: url(../images/header-bg.png) repeat-x;
}

.b-container
{
    margin: 0 auto;
    width: 720px;
}

.b-container__header
{
    padding: 6px 0 3px 0;
    min-height: 85px;
    height: auto !important;
    height: 85px;
}

.b-header__logo
{
    display: inline-block;
}

.b-logo
{
    margin: 16px 0 0 -2px;
}

.b-header__menu
{
    float: right;
}

.b-menu_header
{
    margin: 0;
    padding: 48px 10px 18px 0;
}

.b-menu__item
{
    display: inline-block;
}

.b-menu__item_header
{
    padding-right: 14px;
}

.b-menu__link
{
    font-size: 10px;
    font-family: Tahoma;
    text-transform: uppercase;
    text-decoration: none;
}

.b-menu__link_header
{
    color: #A09484;
    font-size: 14px;
    font-family: "Minion Pro Semibold", Arial;
}

.b-menu__link:hover
{
    color: #911046;
}

.b-menu__separator
{
    color: #C6404B;
    font-size: 11px;
    display: inline-block;
    transform: rotate(90deg);
}

.b-menu__line
{
    display: inline-block;
}

.b-articles__article
{
    color: #DF1B78;
    background: #911046;
    font-family: "Minion Pro Capt", Arial;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
}

.b-articles__article_gourmetFood
{
    color: #E66577;
    background: #C6404B;
}

.b-articles__article_fineDesert
{
    color: #945BA7;
    background: #35213C;
}

.b-article__image
{
    margin-top: 7px;
}

.b-article__header
{
    color: #FFFFFF;
    margin: 10px 3px 0 9px;
}

.b-article__description
{
    margin: 1px 1px 11px 9px;
    font-size: 9px;
}

.b-article__exoticRecipes
{
    background: #800E3E;
}

.b-article__gourmetFood
{
    background: #AF3842;
}

.b-article__fineDesert
{
    background: #2F1D35;
}

.b-readMore__link
{
    color: #EEE7D4;
    margin: 10px 9px;
    text-decoration: none;
    display: inline-block;
}

.b-readMore__arrows
{
    margin-left: 3px;
}

.b-text
{
    background: url(../images/text-bg.png) repeat-x;
    margin-top: 3px;
    font-size: 10px;
}

.b-offers
{
    max-width: 240px;
    width: auto !important;
    width: 240px;
    display: inline-block;
}

.b-offers__header
{
    color: #C6404B;
    margin: 22px 1px 1px 7px;
    font-family: "Minion Pro Capt", Arial;
    font-size: 19px;
}

.b-offers__header-text
{
    color: #959595;
    margin: 0 0 18px 8px;
    font-family: "Minion Pro Capt", Arial;
    font-size: 9px;
}

.b-offers__offer
{
    margin: 12px 8px 11px 8px;
}

.b-offer__image
{
    margin: 0 10px 0 0;
    padding: 1px;
    float: left;
    border: 1px solid #CACACA;
}

.b-offer__header
{
    color: #C6404B;
    margin: 4px 0 6px 0;
    font-family: Arial;
    font-size: 12px;
}

.b-offer__description, .b-offer__link
{
    color: #848484;
    font-family: Tahoma;
}

.b-line
{
    border-bottom: 1px dotted #848484;
}

.b-offer__link_description
{
    margin: 2px 0 16px 0;
}

.b-offers__link
{
    color: #C6404B;
    margin: 2px 21px 0 0;
    float: right;
    text-decoration: none;
}

.b-offers__readMore
{
    margin-right: 6px;
}

.b-post__image
{
    margin: 20px 11px 20px 0;
}

.b-welcome
{
    max-width: 480px;
    width: auto !important;
    width: 480px;
    float: right;
}

.b-welcome__header
{
    color: #9C9C9C;
    margin: 24px 0 0 7px;
    font-family: "Minion Pro Capt";
    font-size: 14px;
    text-transform: uppercase;
}

.b-welcome__header_welcome
{
    color: #911046;
    font-size: 25px;
    display: inline;
}

.b-welcome__image
{
    margin: 16px 0 0 0;
    float: left;
}

.b-heading
{
    color: #7B7368;
    margin: 21px 12px 13px -23px;
    width: 346px;
    float: right;
}

.b-heading__text
{
    font-family: Arial;
    font-size: 12px;
}

.b-welcome__text
{
    color: #848484;
    padding: 0 20px 0 170px;
    font-family: Tahoma;
}

.b-links__link
{
    margin: 9px 3px;
}

.b-link__link
{
    color: #C6404B;
}

.b-link__arrow
{
    margin-right: 11px;
}

.b-footer
{
    color: #848484;
    background: #303030;
    text-align: center;
}

.b-footer__copyright
{
    padding-bottom: 21px;
}

.b-block
{
    background: #595959;
    margin: 2px 0 21px 0;
    width: 720px;
    height: 4px;
    position: absolute;
}

.b-footer__menu
{
    padding-top: 27px;
}

.b-menu__link_footer
{
    color: #848484;
}

.b-footer__copyright
{
    font-size: 10px;
    font-family: Tahoma;
}

@media only screen and (max-width: 480px)
{

    .b-container
    {
        padding: 15px;
        max-width: 475px;
        box-sizing: border-box;
    }

    .b-header__logo
    {
        width: 100%;
    }

    .b-logo__image
    {
        margin: 0 auto;
        display: block;
    }

    .b-header__menu
    {
        float: none;
        text-align: center;
    }

    .b-articles__article
    {
        margin: 0 103px 10px 103px;
    }

    .b-container__text
    {
        display: none;
    }

    .b-menu
    {
        padding: 0;
    }

    .b-block
    {
        max-width: 445px;
    }

}
