@font-face
{
    font-family: "gotham rounded book";
    src: url(../fonts/gotham-rounded-book.otf);
}

@font-face
{
    font-family: "gotham rounded bold";
    src: url(../fonts/gotham-rounded-bold.otf);
}

@font-face
{
    font-family: "gotham rounded medium";
    src: url(../fonts/gotham-rounded-medium.otf);
}

@font-face
{
    font-family: "gotham rounded book italic";
    src: url(../fonts/gotham-rounded-book-italic.otf);
}

body
{
    margin: 0;
    padding: 0;
}

.b-container
{
    color: #fff;
    background: url("../images/bg.png") no-repeat;
    margin: 0 auto;
    padding: 0 150px;
    width: 960px;
}

.b-header__logo
{
    display: inline-block;
}

.b-logo
{
    padding-top: 82px;
    padding-left: 19px;
    font-family: "gotham rounded book";
    font-size: 32px;
    letter-spacing: -2px;
}

.b-logo_bytes
{
    font-family: "gotham rounded bold";
}

.b-logo_consulting
{
    margin: -2px 0 0 3px;
    font-size: 11px;
    letter-spacing: 8px;
}

.b-header__menu
{
    display: inline-block;
    float: right;
}

.b-menu
{
    padding-top: 77px;
    margin-top: 0;
}

.b-menu__item
{
    margin: 0;
    padding-right: 19px;
    display: inline-block;
}

.b-menu__item:last-child
{
    padding-right: 0;
}

.b-menu__link
{
    color: #fff;
    padding-top: 12px;
    font-family: "gotham rounded medium";
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
}

.b-menu__line
{
    visibility: hidden;
    border-radius: 3px;
}

.b-menu__line_current
{
    visibility: visible;
}

.b-menu__link:hover .b-menu__line
{
    visibility: visible;
}

.b-looking__text
{
    margin: 213px  0 39px;
    font-family: "gotham rounded book italic";
    font-size: 57px;
    letter-spacing: -4px;
}
.b-jobDescription__search, .b-jobDescription__button
{
    font-family: "gotham rounded book italic";
    border-radius: 3px;
    border: none;
}

.b-jobDescription__search
{
    color: #c7c7c7;
    margin-left: 2px;
    padding: 14px 0 13px 20px;
    width: 717px;
    font-size: 18px;
    border-bottom: 4px solid #e2e2e2;
}

.b-jobDescription__button
{
    margin-left: 79px;
    padding: 11px 15px 12px 25px;
    color: #fff;
    background: #4acaff;
    font-size: 20px;
    border-bottom: 4px solid #3baedd;
}

.fa.fa-search
{
    font-size: 15px;
    vertical-align: middle;
    margin-right: 2px;
}

.b-looking__checkbox
{
    display: inline-block;
}

.b-jobDescription__locationForm
{
    float: right;
}

.b-jobDescription__selectStyle
{
    overflow: hidden;
    width: 456px;
}

.b-jobDescription__locationSelect
{
    color: #dedede;
    margin: 25px 223px 273px 0;
    padding: 10px  0 8px 14px;
    font-family: "gotham rounded book italic";
    font-size: 13px;
    width: 246px;
    border: none;
    border-radius: 3px;
}

.b-container__separator
{
    background: url("../images/separator.png");
    height: 7px;
    margin: 0 -150px;
}

.b-container__separator_mainText, .b-container__separator_subscribe
{
    background-position: -17px;
}

.b-container__separator_footer
{
    background-position: -20px;
}

.b-mainText
{
    background: #F5F5F5;
    color: #585858;
    margin: 0 -150px;
    padding: 100px 0 98px 0;
    text-align: center;
}

.b-mainText__leaders
{
    font-family: "gotham rounded book italic";
    font-size: 30px;
}

.b-mainText__leaders_creative
{
    font-family: "gotham rounded book";
    font-size: 45px;
    margin: 13px 0 44px 0;
}

.b-mainText__line
{
    border-radius: 0;
}

.b-mainText__based
{
    margin-top: 52px;
    margin-left: 15px;
    font-family: "gotham rounded book";
    font-size: 18px;
}

.b-mainText__based_secondSentence
{
    margin-top: -1px;
    margin-left: 7px;
}

.b-mainText__button
{
    color: #4acaff;
    margin-top: 58px;
    margin-left: 4px;
    padding: 21px 30px 20px 32px;
    font-family: "gotham rounded medium";
    font-size: 15px;
    border: 2px solid #4acaff;
    border-radius: 7px;
    display: inline-block;
}

.b-subscribe
{
    background: #131C25;
    margin: 0 -150px;
    padding: 158px 0 175px 0;
    text-align: center;
}

.b-subscribe__text
{
    margin-left: 3px;
    padding-bottom: 32px;
    font-family: "gotham rounded book";
    font-size: 18px;
}

.b-subscribe__mail
{
    margin-left: 3px;
    padding: 15px 22px 15px 18px;
    width: 320px ;
    border: 2px solid #4ACAFF;
    border-radius: 7px;
    display: inline-block;
    text-align: left;
}

.b-mail__textfield
{
    color: #fff;
    background: #131c25;
    font-family: "gotham rounded book italic";
    font-size: 14px;
    border: none;
}

.fa.fa-envelope
{
    margin-top: 3px;
    font-size: 15px;
    float: right;
}

.b-footer
{
    background: #F5F5F5;
    margin: 0 -150px;
    padding: 62px 0 62px 154px;
}

.fa.fa-envelope-o
{
    color: #4ACAFF;
    margin-right: 8px;
    font-size: 20px;
}

.b-footer__mail
{
    color: #7a7a7a;
    font-family: "gotham rounded medium";
    font-size: 14px;
}

.b-footer__copyright
{
    margin-top: 23px;
    margin-left: -2px;
    color: #a6a5a5;
    font-family: "gotham rounded medium";
    font-size: 14px;
    float: left;
}

.b-footer__copyright_terms
{
    color: #7a7a7a;
    font-family: "gotham rounded book";
    font-size: 14px;
}

.b-footer__social
{
    margin-top: 21px;
    margin-right: 150px;
    float: right;

}

.twitter-share-button
{
    float: left;
    margin-right: 3px;
}

#fb-root
{
    float: left;
}


@media only screen and (max-width: 480px) {

    .b-container
    {
        padding: 15px;
        max-width: 475px;
        box-sizing: border-box;
    }

    .b-logo
    {
        padding-top: 10px;
    }

    .b-header__menu
    {
        text-align: center;
    }


    .b-looking__text
    {
        margin-top: 64px;
    }

    .b-jobDescription__search
    {
        width: 272px;
    }

    .b-jobDescription__button
    {
        margin-left: 10px;
    }

    .b-jobDescription__locationSelect
    {
        margin-bottom: 20px;
    }

    .b-container__separator, .b-mainText, .b-subscribe, .b-footer
    {
        margin: 0 -15px;
    }

    .b-mainText__based
    {
        display: none;
    }

    .b-footer
    {
        padding: 10px;
    }
}

